ModernStore.Domain/obj/
ModernStore.Domain/bin/
ModernStore.Shared/bin/
packages/
ModernStore.Shared/obj/
ModernStore.Domain.Tests/bin/
ModernStore.Domain.Tests/obj/
ModernStore.Infra/bin/
ModernStore.Infra/obj/
ModernStore.Api/obj/
ModernStore.Api/bin/
ModernStore.WebApi/bin/
ModernStore.WebApi/obj/
